<launch>
  <machine 
    name="rpi" 
    address="$(arg remoteaddr)" 
    user="$(arg remoteuser)"
    password="$(arg remotepass)"
    env-loader="/home/pi/ros/src_cross/devel_isolated/env.sh" 
    default="false" 
  />

  <node 
    pkg="local_chatter" 
    type="subscriber" 
    name="subscriber"
    output="screen"
  />

  <node
    pkg="local_chatter"
    type="publisher"
    name="publisher"
    machine="rpi"
    output="screen"
  />

</launch>
